#head_wrapper #kw:focus{ border-color:#1768ff !important; }
#head_wrapper .s_btn{ _font-family:Roboto, Arial, sans-serif; font-weight:normal; color:rgb(23, 104, 255) !important; }
.bdsug.bdsug-new{ border-radius:0px !important; }
.s-bottom-layer-content {display: none;}
.s-center-box {display: none;}
body{ background-color: rgba(211, 211, 211, 0.15) !important }
div#bottom_layer, div#s_top_wrap, i.quickdelete-line, i.c-icon.quickdelete.c-color-gray2{ display:none; visibility: hidden; }
div#s-hotsearch-wrapper {display: none;}
div#s-top-left{ display:none; }
div#s_side_wrapper {display: none;}
div#u1 {display: none;}
img#s_lg_img_new { content:url('chrome-extension://__MSG_@@extension_id__/kino.png'); }
img#s_lg_img_new{ 
	width: 160px !important;
	height: auto !important; 
	bottom:0px   !important; 
	margin-left:-90px   !important; 
}
input#kw {border-radius: 0 0 0 0;}
input#kw {border-radius: 0px !important;border-color: #1768ff !important;}
input#su {border-radius: 0px !important;background-color: #1768ff !important; }
span.ipt_rec {display: none !important;}
span.soutu-btn {display: none !important;}
#head_wrapper .s-p-top{ padding-top:45px;margin-bottom:15px}
span.bg.s_ipt_wr.new-pmd.quickdelete-wrap {border-radius: 0px;}
div#content_right {display: none;}
div#content_left {width: 780px !important;}
.new-pmd.c-container {width: 780px !important;}
.new-pmd .c-span9 {width: 800px;}
div[class*="single-card-wrapper"] .c-span9{
	width:100% !important;
}
.c-title.tts-title{
	padding-bottom:7px;
}
.page_2muyV strong, .page_2muyV a {color: #1768ff;border-radius: 0px;}
.s_form.s_form_nologin {
   background-color: none;
}

div#u {display: none;}

a#result_logo .index-logo-srcnew{
    content:url('chrome-extension://__MSG_@@extension_id__/kino.png');
    width: 52px;
    height: auto;
    margin-top: -10px;
}	

div#content_left div[style*="visible !imp"] {
    color: red !important;
    border:3px solid blue;
    width:0px;
    height:0px;
    overflow:hidden;
    border:0px;
}

*{
    font-family:'PingFang SC', 'Merriweather', serif !important
}

div,img,span,a,
.c-btn-primary
{
    border-radius:0px !important;
}

a{
    color:#424242db !important;
    text-decoration:none !important;
}

a em, em{
    color:#1768ff !important;
    text-decoration:none !important;
}


.c-gap-top-xsmall{
    display:none;
}

.result-op.c-container.xpath-log.new-pmd[tpl*="poi_mapdots"]{
    display:none;
}

.c-gap-top.ec-material_list-item.ec-block-material_list-1{
    display:none;
}

.new-pmd[tpl*="search-tool"]{
    visibility:hidden;
    border:1px solid gray;
}

div.result-molecule.new-pmd[tpl*="app/rs"]{
     display:none;
}

.s_tab_inner{
    padding-top:15px;
}
.head_wrapper{
    background-color:none;
}

.wrapper_new .s_form{
	padding-left: 147px !important;
}

.result-op.c-container.new-pmd[tpl*="recommend_list"]{
    display:none;
}

div.result-molecule.new-pmd[tpl*="app/hit-top-new"]{
    display:none;
}

div.result.c-container.xpath-log.new-pmd[tpl*="se_com_default"]{
    border-bottom:1px solid #d3d3d3a1;
    padding-top:0px;
    padding-bottom:25px;
}


.c-span3{
   display:none;
}

#su{
    color:#1768ff;
}



#page strong{
     border-radius:0px !important;
}



#foot{
    display:none;
}

.result-op.c-container.xpath-log.new-pmd[tpl="tieba_general"],
.result-op.c-container.xpath-log.new-pmd[tpl="tieba_offical"],
.result-op.c-container.xpath-log.new-pmd[tpl="sp_hot_sale"],
.result-op.c-container.xpath-log.new-pmd[tpl="b2b_prod"],
.result-op.c-container.xpath-log.new-pmd[tpl="short_video"],
.result-op.c-container.xpath-log.new-pmd[tpl="jy_course_and_org_pc_new"]{
    display:none;
}

.result-op.c-container[tpl="qidian2"],
.result-op.c-container[tpl="accuratebook"]
{
   display:none;
}

.result.c-container.new-pmd[tpl="se_com_default"][data-click='{']{
    display:none;
}

.c-row.c-gap-top-middle > div{
    width:100%;
}

.c-row.c-gap-top-small > div{
    width:100%;
}

.c-border{
    margin:auto !important;
}

.result-op.c-container.new-pmd[tpl='dict3'],
.result-op.c-container.new-pmd[tpl='img_normal']{
    padding-top:0px;
    padding-bottom:25px;
    border-bottom: 1px solid #d3d3d3a1;
}

.s-tab-item:before{
    content:'' !important;    
}

.cur-tab:before{
    content:'' !important;    
}

.c-tools .c-icon{
    display:none;
}

i.c-icon{
    display:none;
}


.c-span-last.c-span9.ec-pc_horizontal_container-item.ec-block-pc_horizontal_container-1{
	width:100%;
}

.result-op.c-container.new-pmd[tpl*='vmp_zxenterprise'],
.result-op.c-container.new-pmd[tpl='news-realtime'],
.result-op.c-container.new-pmd[tpl='bk_polysemy']{
    padding-top:0px;
    padding-bottom:20px;
    border-bottom: 1px solid #d3d3d3a1;
}

.result-op.c-container.new-pmd[tpl='news-realtime']{
   margin-top: -20px;
}

.result-op.c-container.new-pmd[tpl='news-realtime'] div[class*="single-card-wrapper"]{
	margin-left:0px;

}


.ec-pc_comp_d20_title-official-icon{
	color:white !important;
}

span{ line-height:25px; }


a.c-font-medium[class*='single-card-more']{
  margin-top:0px;
  margin-bottom:0px;
}	
