#head_wrapper #kw:focus{ border-color:#1768ff !important; }
#head_wrapper .s_btn{ _font-family:Roboto, Arial, sans-serif; font-weight:normal; color:rgb(23, 104, 255) !important; }
.bdsug.bdsug-new{ border-radius:0px !important; }
.s-bottom-layer-content {display: none;}
.s-center-box {display: none;}
body{ background-color: rgba(211, 211, 211, 0.30); }
div#bottom_layer, div#s_top_wrap, i.quickdelete-line, i.c-icon.quickdelete.c-color-gray2{ display:none; visibility: hidden; }
div#s-hotsearch-wrapper {display: none;}
div#s-top-left{ display:none; }
div#s_side_wrapper {display: none;}
div#u1 {display: none;}
img#s_lg_img_new { content:url('chrome-extension://__MSG_@@extension_id__/kino.png'); }
img#s_lg_img_new{ width:260px  !important; height:120px !important; bottom:0px   !important; margin-left:-130px   !important; }
input#kw {border-radius: 0 0 0 0;}
input#kw {border-radius: 0px !important;border-color: #1768ff !important;}
input#su {border-radius: 0px !important;background-color: #1768ff !important; }
span.ipt_rec {display: none !important;}
span.soutu-btn {display: none !important;}
